<h1> Listing Articles </h1>
<div id="nav">
  <button class="knoppie knoppie-color"><%= link_to 'New Article', new_article_path %></button>
</div>
<p></p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

 <% @article.each do |article| %>
   <tr>
     <td class="twidth"><%= article.title %></td>
     <td class="twidth"><%= article.text %></td>
     <td><%= link_to 'Show', article_path(article) %> </td>
     <td><%= link_to 'Edit', edit_article_path(article) %></td>
     <td><%= link_to 'Destroy', article_path(article),
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
   </tr>
  
   <% end %>
</table>
